.container-social{
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    padding: 30px;
    gap: 20px;
}

.container-social > a{
    color: black;
}