.content-tools{
    background-color: rgb(19, 80, 141);
}

.list-tools{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.title-tools{
    text-align: center;
    margin-bottom: 20px;
    padding-top: 20px;
    font-weight: 300;
}

.item-list-tools{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 230px;
    margin: 30px 50px;
    padding: 20px;
    border: 2px solid lightslategray;
    border-radius: 15px;
    background-color: rgb(212, 235, 250);
}

.tool{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.tool > img{
    height: 80px;
}

.name-tool{
    font-weight: 500;
}

@media(max-width: 372px){
    .item-list-tools{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 62.16vw;
        margin: 30px 13.51vw;
        padding: 5.41vw;
        border: 1px solid lightslategray;
        border-radius: 15px;
        background-color: aliceblue;
    }
}